html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/background.jpg");
  height: 100%;
  background-size: cover;
}

div {
  margin: 0;
  padding: 0;
}
