html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/background.jpg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.main-container {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.d2 {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

form {
  margin-left: 2%;
}

nav {
  background-color: #141414;
  width: 100%;
  height: 40px;
  top: 0;
  color: white;
}

.wrapper {
  padding-top: 10px;
}

.wrapper a {
  margin-top: 10px;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.wrapper a:hover {
  background-color: #1c1c1c;
}

.logo {
  margin-top: -10px;
  padding-right: 1%;
  font-family: 'Hind', sans-serif;
  font-size: 2em;
  letter-spacing: -2px;
  text-shadow: 1px 1px 2px #c4c4c4;
  float: right;
}

.admin, .account {
  font-size: 1.5em;
}

.modal {
  color: black;
}
