{% extends "layout.html" %}
{% block admin %}
{% if current_user.user_group == 'administrator' %}
  <a href="/admin">Admin</a>
  <a href="/requests">Leave Requests</a>
{% endif %}
{% endblock admin %}
{% block content %}
<h1>Account</h1>
<table class="table table-condensed account">
<thead>
  <tr>
    <th scope="col">Email</th>
    <th scope="col">User Group</th>
    <th scope="col">Leave Category</th>
    <th scope="col">Days Left</th>
    <th scope="col">Notifications</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>{{ current_user.email }}</td>
    <td>{{ current_user.user_group }}</td>
    <td>{{ current_user.leave_category.category }}</td>
    <td>{{ days_left }}</td>
    <td>
      {% if current_user.notification %}
        <form action="/handle_acc" method="POST"><button class="btn btn-success" type="submit" name="on" value="{{ current_user.email }}">On</button></form>
      {% else %}
        <form action="/handle_acc" method="POST"><button class="btn btn-danger" type="submit" name="off" value="{{ current_user.email }}">Off</button></form>
      {% endif %}
    </td>
  </tr>
</tbody>
</table>
{% endblock content %}
